<!-- templates/bond_1_item.html -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=euc-kr">
    <title>{{ issuer_data.name }} 채권발행 안내</title>
</head>
<body style="margin: 0; background: #e1e1e1;">
    <table cellspacing="0" cellpadding="0" width="400" bgcolor="#e1e1e1" style="font-size:12px">
        <tr>
            <td><img src="http://imboard.einfomax.co.kr/auction/company/logo/{{ issuer_data.logo }}" border="0"></td>
        </tr>
        <tr>
            <td>종목명: {{ bond_data[0].bond_name }}</td>
            <td>만기: {{ bond_data[0].expiry }}</td>
            <td>발행액: {{ bond_data[0].amount }}</td>
        </tr>
    </table>
</body>
</html>
